.quickregistration{
  position:relative;
  height: 320px;
  top: 30px;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px 30px;
  box-sizing: border-box;

  .header{
    font-size: $h2Size;
    color:$purple;
    margin-bottom: 20px;
  }

  .name,.surname,.email,.password{
    @include input(white,$gray3,white,$gray3,40px);
    margin-bottom: 15px;
    width: 100%;
    font-size: $textSmallSize;

  }

  .name,.surname{
    width: calc(50% - 5px);
  }

  .surname{
    margin-left: 5px;
  }

  .footer{
    width: 100%;
    border-top:1px solid $gray2;
    padding-top: 10px;
    .register{
      @include button($blue,white,$blue2,white,40px);
      width: 100%;
      a,i{
        color:white;
        text-decoration: none;
        font-size: $h3Size;
      }
      i{
        margin-right: 10px;
      }
    }
  }

}